
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <div>

      
      <a class="footer-link-bg" href="https://github.com/martin2844"><i class="fab fa-github"></i></a>
      <a class="footer-link-bg" href=""><i class="fab fa-linkedin"></i></a>
      <a class="footer-link-bg" href="https://www.youtube.com/channel/UC0KC477Zyljne5acOqab6Vg"><i class="fab fa-youtube"></i></i></a>
      <a class="footer-link-bg" href=""><i class="fab fa-facebook-square"></i></a>
      <a class="footer-link-bg" href=""><i class="fab fa-instagram"></i></i></a>
 
      
      


      
    </div>


    <a class="footer-link-sm" href="#">MC Design</a>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
