<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



  <link rel="stylesheet" href="/css/styles.css">



  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="/img/logo.jpg" style="border-radius: 50%;" width="30" height="30" class="d-inline-block align-top" alt="">
        MCTV
      </a>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/about">Acerca</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/subscribe">Subscribite</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/archive">Archivo</a>
              </li>
              </ul>

              
              <% if(user){ %>

                <div style="letter-spacing:1px;"  class="nav-item dropdown">
                  <a style="letter-spacing:1px;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bienvenido <%= user %>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/Compose">Compose</a>
                    <a class="dropdown-item" href="/admin">Panel de Administrador</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout"">Logout</a>
                  </div>
                </div>


             <% } else { %>
                <a class="nav-link" href="/auth">Login</a>
             <% }  %>

        



                  <form method="post" action="/find" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" name='keyword' type="text" placeholder="Buscar posts">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                  </form>
         
               

            
        
      </div>
    </nav>


  
  <body>
    <div class="container main">
