<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="/">
    <img src="/img/logo.jpg" style="border-radius: 50%;" width="30" height="30" class="d-inline-block align-top" alt="">
    MCTV
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" >
   <span class="navbar-toggler-icon"></span>
 </button>


 <div class="collapse navbar-collapse" id="navbarToggler">
   <div class="top-pad">


    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Acerca</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/subscribe">Subscribite</a>
      </li>
      <div style='position: absolute;'>


      <li>
                <form method="post" action="/find" class="form-inline my-2 my-lg-0">
           <input class="form-control mr-sm-2" name='keyword' type="text" placeholder="Buscar">
           <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
         </form>

      </li>
      </div>
    </ul>
   </div>
  </div>


  </div>

  </nav>

  <body>
    <div class="container main">
