<%- include("partials/header") -%>

<script src="//cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>

<h1>You are posting as <%= user %> </h1>

<form class="" action="/compose" method="post">

  <div class="form-group">
    <label for="blogtitle">Title</label>
    <input class="form-control" type="text" name="blogtitle" value="" placeholder="Write your Title">
  </div>
  <div class="form-group">
    <label for="postimage">Post Image</label>
    <input class="form-control" type="text" name="imageURL" value="" placeholder="putanimageURL">
  </div>
  <div class="form-group">
    <label for="postimage">Youtube EMBED Url</label>
    <input class="form-control" type="url" name="ytURL" value="" placeholder="Youtube URL">
  </div>
  <div class="form-group">
    <label for="tag1">Tag 1</label>
    <select name="tag1" class="form-control" id="tag1">
      <option>autocad</option>
      <option>sketchup</option>
      <option>photoshop</option>
      <option>render</option>
      <option>portfolio</option>
      <option>Tutorial</option>
    </select>
  </div>
  <div class="form-group">
    <label for="tag2">Tag 2</label>
    <select name="tag2" class="form-control" id="tag2">
      <option>autocad</option>
      <option>Sketchup</option>
      <option>Photoshop</option>
      <option>render</option>
      <option>portfolio</option>
      <option>Tutorial</option>
    </select>
  </div>
  <div id="editor" class="form-group">
    <label for="blogpost">Post</label>
    <textarea class="form-control form-control-lg" rows="5" cols="30"  type="text" name="blogpost" value="" placeholder="Write your text"></textarea>
  </div>
  <script>
  CKEDITOR.replace("blogpost");
  </script>
<button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>





<%- include("partials/footer") -%>
