<%- include("partials/header") -%>




<div style="text-align:center;">
  <form action="/" class="form-signin" method="POST">
    <img class="mb-4" src="img/logo.jpg" alt="" width="150" height="150">
    <h1 class="h3 mb-3 font-weight-normal"></h1>Subscribite al newsletter</h1>

    <input type="text" name="fName" class="form-control top" placeholder="Nombre" required autofocus>
    <input type="text" name="lName"  class="form-control middle" placeholder="Apellido" required>
    <input type="email" name="email"  class="form-control bottom" placeholder="Email" required>


    <button class="btn btn-lg btn-primary btn-block" type="submit">Subscribirse</button>
    <p class="mt-5 mb-3 text-muted">No te pierdas ningun post!</p>
  </form>

</div>





<%- include("partials/footer") -%>
