/* NavBar */

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}


.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.noSpacer {
  letter-spacing: 1px;
}

.navbarlight a {
  color: #777;

}

.nav-link {
  text-align: right;
  letter-spacing: 3px;
}

.top-pad {
  padding-top: 20px;
}
/* Main Section */

.jumbotron {
  background-color: #fff;
  padding-bottom: 10px;
  padding-top: 20px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;

    }

.main {
  padding-bottom: 100px;
}

/* Posts */

.card-img-top {
  height: 22rem;
  object-fit: cover;
}

/* Footer */


.footer {
	position: fixed;

	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
  padding-top: 10px;
  padding-bottom: 5px;
	background-color: #545b62;
}

.footer-link-sm {

  font-size: 10px;
  color: grey;



}

.footer-link-bg {
  color: #fff;
}

.footer a {
  margin-top: 20px;
  padding: 20px 20px 5px;
  letter-spacing: 2px;


}


/* POST */

.yt {
  text-align: center;
  padding: 30px;
  margin: auto;

}

iframe {
padding-top: 30px;
}

.post-image {
    width:100%;
    max-width:600px;
    margin-bottom: 0px;
    margin-right: 60px;
    border-style: solid;
    border-width: 10px;
    border-color: lightgrey
}


/* Signup */


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle {
border-radius: 0;
margin-bottom: -1px;
}

.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* new Date div */

.date {
  border: solid;
  border-width: 2px;
  background-color: #fff;
  color: #333;
  font-size: 18px;
  font-weight: 800;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

.date span {
  display: block;
  line-height: 14px;
}

.date .month {
  font-size: 11px;
}


.card.mb-4{
  
  transition:all .4s ease-in-out;
}

.card.mb-4:hover{
  transform:scale(1.03);
 
}